.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #d8e5e1;
}

.forms,
.login-form,
.register-form {
  display: flex;
  flex-direction: column;
  background-color: #d8e5e1;
}

input {
  margin: 0.5rem 0;
}

.header {
  align-items: center;
  background-color: #d8e5e1;
}

.button {
  border: none;
  background-color: #496755;
  height: 40px;
  width: 450px;
  /*padding: 20px;*/
  border-radius: 10px;
}
