.calendar {
    width: 900px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.calendar-header {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0;
}

.calendar-body {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table-header {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.weekday {
    width: 100px;
    text-align: center;
    padding: 10;
}

.table-content {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
}

.calendar-day {
    width: 125px;
    height: 75px;
    position: relative;
    border: 1px solid #81c0fc
}

.current p {
    color: #000000;
}

.selected p {
    color: #00cc88;
    font-weight: bold;
}